$dark: #093f2a;
$light: #5c6e68;

$light-green: #b5ddce;
$medium-green: #7dc90f;
$dark-green: #21bb80;
$heading-color: #28303a;
$text-color: #656c60;
$background-color: #e5eae7;
$white-color: #fff;
$shadow-color: #2c4332;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f1f1f1;
$color-grey-light-2: #eee;
$color-dark-grey: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

//font size
$default-font-size: 1.6rem;
